<html>
    <head>
        <title>Children Welfare</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row"> 
                <div class="col-md-4">
                    <img src="https://raw.githubusercontent.com/nodejsera/paypal-integration-using-nodejs/master/public/cover.png" class="img img-responsive" alt="book" />  
                </div> 
                <div class="col-md-8">
                    <h2>Welcome to Children Welfare</h2>
                    <div class = "main">
                        <div class="row padder"> 
                            <div class="col-md-3 cover"> 
                                    
                            </div> 
                            <div class="col-md-9"> 
                                
                                <hr> 
                                <b> Description: </b> Start learning mean stack today with this book that is optimized 
                                for experiential learning. 
                                <hr> 
                                <h2> Only for $$ 39.00 </h2> 
                                <hr> 
                                <a href="/buy"> 
                                <button class="btn btn-warning btn-lg"> Buy now for $39 </button> 
                                </a> 
                            </div> 
                        </div> 
                    </div>
                </div> 
            </div> 
        </div> 
    </div>
    </body>
</html>